* {
	box-sizing: border-box;
}

body{
	background-color: #F6F2EF;
	text-align: center;
	color: #283C45;
}

div.shadowed{
	max-width: 90%;
	display: block;
	margin: auto;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

div.inner{
	display: block;
	margin: auto;
	text-align: center;
	padding: 20px;
	transition: 0.3s ease;
}

div.inner:Hover{
	border: 2px solid #725EAD;
	background-color: #F9F9F9;
	transition: 0.3s ease;
}

.price-list{
	display: block;
	text-align: left;
	margin-top: 10px;
}

#pl-1{
	margin-left: 20%;
}

#pl-2{
	margin-left: 30%;
}

.price-list ul li{
	list-style: none;
}

.button{
	padding: 8px 70px;
	border-radius: 40px;
	border-style: none;
	background-color: #2DA562;
	color: white;
}

div img{
	float: left;
	left: 0;
	margin-left: -20px;
	margin-top: -20px;
	position: absolute;
	z-index: 20;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.modal,
.ui.active.modal {
	margin: 0 auto!important;
	top: auto !important;
	left: auto !important;
	transform-origin: center !important;
	transition: all ease .5s;
}



/*==================== MEDIA QUERY STARTS ======================*/


@media (max-width: 1030px){
	div.shadowed{
		max-width: 100%;
	}

	#pl-1{
		margin-left: 15%;
	}

	#pl-2{
		margin-left: 25%;
	}
}

@media (max-width: 770px){
	.button{
		padding: 8px 60px;
	}

	div.inner{
		padding: 10px;
	}

	#pl-1{
		margin-left: 3%;
	}

	#pl-2{
		margin-left: 18%;
	}
}

@media (max-width: 450px){
	.button{
		padding: 8px 50px;
	}

	#pl-1{
		margin-left: 5%;
	}

	#pl-2{
		margin-left: 20%;
	}
}

@media (max-width: 375px){
	.button{
		padding: 8px 40px;
	}

	#pl-1{
		margin-left: -3%;
	}

	#pl-2{
		margin-left: 15%;
	}
}

@media (max-width: 320px){

	#pl-1{
		margin-left: -10%;
	}

	#pl-2{
		margin-left: 10%;
	}
}


/*==================== MEDIA QUERY ENDS ======================*/